.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 1.2rem;
  /* background-color: #0000004f; */
  width: 80%;
  /* border-radius: 20%; */
  background-color: #03190394;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
  margin-top: 5%;
  border-color: #ffffff;

  
}

.product-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.product-image {
  max-width: 30%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.product-name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.product-season {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #615b5b;
  border: 2px solid #323232;
  background-color: rgb(241, 222, 232);
  text-shadow: 0px 0px 15px #000000;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.product-facts {
  margin-bottom: 2rem;
  

}

.product-facts-title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(175, 164, 164, 0.459);
  text-transform:uppercase;

}

.product-facts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-fact {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #ca6c148e;
  border: 2px solid #747474;
  border-radius: 5px;
  text-decoration: underline;
}
.product-close-button{
  border: 1px solid #ccc;
  padding: 2px;
}

.product-close-button:hover{
  text-decoration: none;
  border: 1px solid #ccc;
}

.title-name-pr{
  font-size: 1.7rem;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.product-no-facts{
color: rgba(250, 235, 215, 0.801);
}

.seas-prod{
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
}

.pr-n{
  padding: 10px;
  border-color: #1f1f1f;
  background-color: rgb(241, 222, 232);
}

.descr{
  font-size: 20px;
  font-style: normal;
  text-shadow: none;
}

.dsc-label{
  color: antiquewhite;
  margin-left: 18px;
}

.create-fact-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  background-color: rgb(78, 77, 72);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 10px;
}

.create-fact-button:hover {
  background-color: rgba(53, 49, 49, 0.281);
  text-decoration: none;
}
.fact-link{
  color: rgb(8, 8, 8);
  font-weight: bold;
}
