.home-cont {
  display: flex;
  justify-content: center;
  align-items: center;

}

.seasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .grid_4 {
  width: 300px;
  height: 200px;
  margin: 10px;
  position: relative;
} */

.grid_4 {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative;
  margin-top: -150px;
}

.seasonImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gall_item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 5px solid transparent;
  border-radius: 5px;
  border: 5px solid #7e7159;
}

.gall_item:hover {
  border: 10px solid #e0e0e0;
}

.seasonLink {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 1px rgba(218, 218, 218, 0.5);
  color: #131313;
  text-decoration: none;
  z-index: 1;
  padding: 8px;
  border-color: #131313;
  /* border-radius: 50%; */
  border: 1px solid #1f1f1f;
}
.seasonLink:hover{
  text-decoration: none;
  /* border: 5px solid #805454a4; */
}

.spring {
  background-color: green;

}

.summer {
  background-color: yellow;
}

.autumn {
  background-color: orange;
}

.winter {
  background-color: rgb(26, 105, 179);
}

.clear {
  clear: both;
}