/* input {
  display: block;

  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-align: center;
} */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  

}

/* .formInput{
  width: 50%;
} 

.submitBtn{
  margin-left: 25%;
}

.container{
  margin-top: 5%;
  margin-right: 12%;
} */

.createCont {
  border-radius: 10px; 
   overflow: hidden;
  position: relative; 
  width: 1000px;
  height: 300px;
  margin: 0 auto 50px;
  /* background: #a500001c; */
  background: #030303b6;
  box-shadow: -10px -10px 15px rgba(14, 13, 13, 0.3), 10px 10px 15px rgba(8, 7, 7, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
  margin-left: 20%;
  margin-right: 20%; 
} 

.form-group .heading {

  text-align: center;

}


.error-message{
  margin-left: 40%;
  margin-top: 20px;
}

.box .btn {
  margin-top: 34px;
}

.formInput {
  width: 400px;
  background-color: rgba(255, 228, 196, 0.603);
}

.submitBtn {
  margin-left: 24%;
}

.create-form{
  width: 700px;
  height: 450px;
  box-align: center;
  border: 1px solid #000000;
  background: #0320048e;
  /* margin-left: 50%; */
  margin-left: 32%;
  position: fixed;
  top: 15%;
  border-radius: 10%;
  padding-top: 2%;
}

.col-form-label{
  color: rgba(240, 248, 255, 0.829);
  font-weight: bold;
}
.btn-primary{
  color: aliceblue; 
  font-weight: bold;
}

.mt-4{
  padding-top: 5px;
}

.custom-select{
  background-color: rgb(219, 136, 87);
  padding: 6px;
  font-weight: bold;
}
.create-btn{
  margin-left: 20%;
}
.name-div{
  margin-right: 25px;
}
