.container-profil {
  background-color: #03190394;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.img-animal {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profil-text {
  text-align: center;
  margin-bottom: 10px;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.shadow {
  text-shadow: 2px 2px #000000;
}

.name-email {
  font-size: 30px;
}

.email-user {
  font-size: 20px;
}

.added-facts {
  font-size: 20px;
}

.level {
  font-size: 25px;
}

.create-more {
  margin-top: 20px;
  font-size: 20px;
}

.link-create {
  color: white;
  text-decoration: underline;
}

.link-create:hover {
  color: #a5a5a5;
}

.fav-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills {
  width: 48%;
  margin-bottom: 20px;
}

.fav {
  font-size: 30px;
  margin-bottom: 10px;
}

.my {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.my-facts {
  text-align: center;
}



.summer-item {
  background-color: #F8DE7E;
}

.winter-item {
  background-color: #B0E0E6;
}

.autumn-item {
  background-color: #F4A460;
}

.spring-item {
  background-color: #90EE90;
}

.default {
  background-color: #777;
}

.my-item {
  list-style: none;
  margin-bottom: 5px;
}
.personName{
  color: antiquewhite;
}

.create-more{
  font-weight: bold;
  color: rgb(26, 212, 26);
}
.add-f{
  color: #F4A460;
}

.lvl{
  color: #F8DE7E;
}
.my-added-item {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #02301dbd;
}
.my-added-item:hover{
  text-decoration: none;
}

.ff{
  margin-bottom: 35px;
}