.catalog-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.catalog-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-gap: 30px; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;

}

.seasonName{
  color: black;
  font-size: 4rem;
  font-weight: bold;
}
.summer-food{
color: yellow;
text-shadow: 0px 0px 4px #000000;
}
.winter-food{
  color: rgb(97, 133, 201);
  text-shadow: 0px 0px 4px #000000;
}
.spring-food{
  color: green;
  text-shadow: 0px 0px 4px #000000;
}
.autumn-food{
  color: orange;
  text-shadow: 0px 0px 4px #000000;
}

/* @media (max-width: 768px) {
  .catalog-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.se-n{
  margin-bottom: 130px;
}
.lnk-to{
  text-decoration: underline;
}