.dtl-sec {
  /* background-color: #131313a1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63); */
  background-color: #03190394;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
  max-width: 800px;
  width: 100%;
  padding: 150px;
}

.fact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nm-product {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.nm-fact {
  color: #666;
  font-size: 20px;
  margin: 0;
}

.text-fact-desc {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.bt-ed,
.bt-del {
  background-color: #007bff;
  color: #920000;
  /* border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px; */
  cursor: pointer;
}
.bt-ed:hover{
  text-decoration: none;
}
.close-btn:hover{
  text-decoration: none;
}

.bt-del {
  background-color: #dc3545;
}

.button {
  background-color: #e04545;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.close-btn {
  background-color: #f13636;
  color: #333;
  margin-right: 0;
}

.bt-del {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.bt-ed {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.button.close-btn {
  background-color: white;
  color: black;
}

.nn-p{
  color: antiquewhite;
}
.text-fact-desc{
  color: antiquewhite;
}