.block1 {
  text-align: center;
  padding: 49px 0;
  color: black;
  
}
.btnMore {
  color: black;
  
}

.factRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}


.product-name  {
  border: 2px solid #a81818;
  background-color: rgba(250, 235, 215, 0.671);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 15px #000000;
  /* padding-bottom: 10%; */

}

.block1 .count {

  margin: 0 auto;
  text-align: center;
  font: 17px/95px 'Dosis', sans-serif;
  border-radius: 500px;
  border: 1px solid #939393;


}

.fact-name{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  background-color: rgba(36, 21, 17, 0.726);
  color: antiquewhite;
  /* border: 1px solid #6b6b6b; */
  padding-top: 4%;
  padding-bottom: 4%;
  text-shadow: 0px 0px 15px #000000;
  margin-bottom: 15px;
}

.fact-title{
  background-color: rgb(170, 122, 0);
  font-size: 1.2rem;
}


.btnMore{
  background-color: rgb(77, 16, 16);
  color: antiquewhite;
  border-radius: 8px;
}

.btnMore:hover{
text-decoration: none;
background-color: rgba(1, 10, 5, 0.726);
font-size: 25px;
}

.block1{

  border: 0.2px solid #000000;
  border-radius: 25%;
  margin-top: 30%;
  width: 250px;
  height: 250px;

}

.even {
  background-color: #46464644;
  
}

.odd {
  background-color: #1d0000b4;
}

.facts-all{
margin-right: -5%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

/* .block1:nth-child(2n) {
  background-color: #f2f2f2;
}

.block1:nth-child(2n+1) {
  background-color: #ff26004b;
} */