
/* ///// */


.block1 {
  text-align: center;
  padding: 49px 0;
  color: black;
  
}
.btnMore {
  color: black;
  
}

.factRow {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fact-cont{
  /* display: flex; */
  flex-wrap: wrap;
  height: 760px; 
  overflow: auto; 
  padding-top: 3%;
}


.product-name  {

  border: 2px solid #a81818;
  background-color: rgba(250, 235, 215, 0.671);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 15px #000000;
  /* padding-bottom: 10%; */
}

.block1 .count {
  width: 150px;
  margin: 0 auto;
  height: 95px;
  text-align: center;
  font: 17px/95px 'Dosis', sans-serif;
  border-radius: 500px;
  border: 1px solid #939393;
  margin-bottom: 25px;
}

.fact-name{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: rgb(0, 75, 31);

  color: antiquewhite;
  border: 1px solid #6b6b6b;
  padding-top: 4%;
  padding-bottom: 4%;


}
.btnMore{
  background-color: rgb(0, 75, 31);
  color: antiquewhite;
}

.btnMore:hover{
text-decoration: none;
background-color: rgba(0, 75, 31, 0.726);
font-size: 25px;
}

.block1{

  border: 0.2px solid #000000;
  border-radius: 10%;
  background-color: #0036034d;
  margin-top: 30%;
}


