*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #8b8b8b;

  
}


input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont-reg{
    background:#0320048e;
    border-radius: 20px;
    width: 700px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 100px;
    top: 15%

}


.reg-form{
    height: 100%;
    position: relative;
    padding: 20px 30px 0;
    border: 2px solid #000000;
    margin-bottom: 25%;
}






h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
    
}

label {
    display: block;
    width: 270px;
    /* margin: 6px auto 0; */
    text-align: center;

}

label span {
    font-size: 12px;
    color: #f0f0f0;
    text-transform: uppercase;
}



input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    
}



.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;

}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #4f8675;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}


.message {
    margin-top: 80%;
    color: #949494;
font-size: 1.2rem;

}

/* .sign-up {
    font-size: 1rem;
} */

.go-to-login{
    color: black;
    margin-top: 25%;
}
.no-account{
    text-align: center;
    font-size: 1.2rem;
}

.go-to-login{
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: underline;
}